<div class="section" *ngIf="images">
  <div class="container">
    <h1 class="has-text-grey-light color-title">
      <i class="fas fa-circle" [style.color]="'#' + rgb"></i>
      <span>Изображения цвета #{{ rgb }}</span>
    </h1>
  </div>

  <div class="container">
    <div class="images-grid">
      <div class="image-container" *ngFor="let image of images">
        <div class="inner"
          [style.background-image]="'url(' + image.regular_url + ')'"
          (click)="showImageDetail(image.id)"
        >
          <div class="overlay"><i class="fas fa-search"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
