@import "./node_modules/bulma/sass/utilities/_all.sass";
@import "../../variables.scss";


footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #e2e2e2;
}

.level-item {
  width: 100%;
  margin: 30px 0;

  @include from($tablet) {
    width: 33.33%;
  }
}

.level-item:first-child {
  padding-left: 30px;

  @include from($tablet) {
    flex-grow: 0;
  }

  @include until($tablet) {
    padding-left: 10px;
  }

  i {
    margin: 0.1em 0.5em 0 0.5em;
    color: $primary;
  }
}

.level-item:last-child {
  padding-right: 30px;

  @include from($tablet) {
    flex-grow: 0;
  }

  @include until($tablet) {
    padding-right: 10px;
  }

  i {
    margin-right: 0.5em;
  }
}
